<!DOCTYPE html>
<html>
<head>
    <title>Instant Care</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="node_modules/vue/vue.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <h1>Instant Care</h1><br>
    <h3>Push the button</h3>
    <p>enter username, and length of time to hold button for</p>
    <form method="POST">
        <fieldset>
            username: <input type="text" name="username"><br>
            lenth of button push: <input type="text" name="lentime"><br>


            <input type="submit" value="Submit"><br>
            </fieldset>
        </form></body>
        

